.passwordValidator {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    margin: 20px auto;
    padding: 40px;
    box-shadow: 1px 1px 2px 2px #ccc;
    border-radius: 12px;
}

.passwordValidator h1 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.passwordValidator label {}

.passwordValidator input {
    margin: 0 12px;
    width: 240px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.message {
    padding: 12px 0;
    text-align: center;
    color: blue;
}

.message.error {
    color: red;
}